<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Library</title>
		<link rel="stylesheet" type="text/css" href="assets/index.css" />
	</head>

	<body>
		<div class="container">
			<h1>{{ .title }}</h1>
			<h2>The best one in the world</h2>

			<img src="assets/library-100616524-large.jpg">

			<p>To rent a book, you need to<br>
				<a href="/sign-up">sign up</a> and then <a href="log-in">log in<a>.</p>

			<hr class="divisor">

			<p>We are glad you chose us!</p>
		</div>

		<script src="assets/index.js" defer></script>
	</body>
</html>
