<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Library</title>
        <link rel="stylesheet" type="text/css" href="/assets/user.css">
    </head>

    <body>
        <div class="container">
            <h1>Welcome, {{ .nickname }}.</h1>
            <p>We are glad to see you here.</p>

            <p>Here are the books in your cart:</p>
            <table cellpadding="4">
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Ordered</th>
                <th>Delivered</th>
                {{ range $book := .books }}
                <tr>
                    <td>{{ $book.Name }}</td>
                    <td>{{ $book.AuthorName }} {{ $book.AuthorSurname }}</td>
                    <td>${{ $book.Price }}</td>
                    <td>{{ $book.Ordered.Format "02.01.2006" }}</td>
                    <td>
                        {{ if not $book.Delivered }}
                        not yet
                        {{ else }}
                        {{ $book.Delivered.Format "02.01.2006" }}
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </table>

            <button id="order-button" type="button">Order</button>

            <p>Here are the books available for buying:</p>
            <select id="book-select" class="available-books-list" name="book" multiple>
                {{ range $book := .availableBooks }}
                <option value="{{ $book.ID }}">{{ $book.AuthorName }} {{ $book.AuthorSurname }} - "{{ $book.Name }}", ${{ $book.Price }}</option>
                {{ end }}
            </select>

            <button id="rent-button" type="button">Submit</button>
        </div>

        <script src="assets/jquery-3.4.1.min.js" defer></script>
        <script src="assets/user.js" defer></script>
    </body>
</html>
